[submodule "AuthorizationMS"]
	path = AuthorizationMS
	url = https://github.com/fabiocarluccio/SWM_app
[submodule "SmartBinMS"]
	path = SmartBinMS
	url = https://github.com/carmineaccogli/SmartBinMS.git
[submodule "CitizenMS"]
	path = CitizenMS
	url = https://github.com/carmineaccogli/CitizenMS.git
[submodule "DisposalMs"]
	path = DisposalMs
	url = https://github.com/carmineaccogli/WasteDisposalMS.git
[submodule "AlarmsMS"]
	path = AlarmsMS
	url = https://github.com/carmineaccogli/AlarmsMS.git
[submodule "TaxMS"]
	path = TaxMS
	url = https://github.com/carmineaccogli/TaxMS.git
